@model benefit.Models.vwInfoBenefit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>vwInfoBenefit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.infoBenefitBUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.infoBenefitBUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KDKC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KDKC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NMKC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NMKC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.POLIS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.POLIS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PKSKD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PKSKD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PKSNM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PKSNM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PKSTGLML)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PKSTGLML)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PKSTGLAKH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PKSTGLAKH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NMPROD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NMPROD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NMKLSRWT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NMKLSRWT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MANFAAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MANFAAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCaseLess)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCaseLess)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsReimburse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsReimburse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManfaatPISAName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManfaatPISAName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FreqCaseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FreqCaseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FreqPeriodeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FreqPeriodeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FreqCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FreqCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PolisPegawaiName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PolisPegawaiName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxChild)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxChild)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaraBayarName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaraBayarName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Installment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Installment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
