@model benefit.Models.InfoSettingBU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>InfoSettingBU</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.POLIS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.POLIS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PKSKD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PKSKD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PolisPegawai.PolisPegawaiName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PolisPegawai.PolisPegawaiName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxChild)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxChild)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaraBayar.CaraBayarName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaraBayar.CaraBayarName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Installment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Installment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InfoSettingBUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
