<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <meta name="description" content="pengajuan Legal inhealth">
    <meta name="author" content="irfan.kacrut">
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/Metro/css")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")


    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/Metro/js")
    <script src="~/Scripts/searchabledropdownlist.js"></script>
    <script src="~/Scripts/jquery-migrate-1.0.0.js"></script>
</head>
<body>
     @RenderBody()
</body>
</html>
